# requirements.txt

# AWS SDK and SageMaker
boto3==1.18.77
sagemaker==2.72.0

# Data manipulation and analysis
pandas==1.3.3
numpy==1.21.2

# AWS-specific tools
awswrangler==2.11.0

# Amazon SageMaker Image URI retrieval
sagemaker-image-uri==2.1.0

# Additional libraries used in the code
numexpr==2.7.3

# Note: You might need to check the versions of the libraries based on your execution environment.
